// COLORS
$primary-color: #ff00cc;
$secondary-color: #333399;

$white-color: #070707;

$dark-grey: #000000;
$light-grey: #d2d2d2;

$dark-blue-text: #a19eb5; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
